
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-us-CXt {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .top-nav-8wL {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 3.234rem 0rem 3.2rem;
    width: 100%;
    height: 9.6rem;
    display: flex;
    align-items: center;
    background-color: #1d1f26;

    .buttons-FWA {
      height: calc(100% - 4.8rem);
      background-color: #ff6636;
      padding: 0rem 0.5rem 0rem 2.4rem;
      letter-spacing: -0.0128rem;
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 3;
      text-transform: capitalize;
      white-space: nowrap;
      margin: 2.4rem 54.35rem 2.4rem 0rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Cairo, 'Source Sans Pro';
      box-sizing: border-box;
    }
    .nav-links-Hhk {
      margin-right: 54.4064rem;
      height: 100%;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;
      flex-shrink: 0;

      .nav-link-RJA {
        line-height: 1.25;
        color: #8c94a3;
        font-family: Cairo, 'Source Sans Pro';
        display: flex;
        letter-spacing: -0.016rem;
        width: 10.7rem;
        background-color: #1d1f26;
        flex-shrink: 0;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
      }
      .nav-link-XMC {
        letter-spacing: -0.016rem;
        line-height: 1.25;
        color: #ffffff;
        white-space: nowrap;
        box-sizing: border-box;
        background-color: #1d1f26;
        width: 5.6rem;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #ff6636;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: Cairo, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
      }
      .nav-link-CiE {
        letter-spacing: -0.016rem;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #1d1f26;
        justify-content: center;
        height: 100%;
        font-size: 1.6rem;
        color: #8c94a3;
        align-items: center;
        flex-shrink: 0;
        width: 8.4rem;
        font-weight: 500;
        line-height: 1.25;
        display: flex;
      }
      .nav-link-uce {
        justify-content: center;
        font-weight: 500;
        line-height: 1.25;
        font-family: Cairo, 'Source Sans Pro';
        display: flex;
        letter-spacing: -0.016rem;
        color: #8c94a3;
        white-space: nowrap;
        width: 11.7rem;
        height: 100%;
        flex-shrink: 0;
        font-size: 1.6rem;
        align-items: center;
        background-color: #1d1f26;
      }
      .nav-link-19t {
        flex-shrink: 0;
        color: #8c94a3;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        letter-spacing: -0.016rem;
        font-family: Cairo, 'Source Sans Pro';
        display: flex;
        background-color: #1d1f26;
        width: 7.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.25;
      }
      .nav-link-X8E {
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        width: 8.3rem;
        font-weight: 500;
        line-height: 1.25;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: #8c94a3;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        height: 100%;
        background-color: #1d1f26;
      }
    }
    .logo-p7L {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 3.548rem 0rem 3.51rem 0rem;
      height: calc(100% - 7.0576rem);
      overflow: hidden;
      position: relative;

      .vector-LLa {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.061rem 0.54rem 0rem;
        width: 1.2684rem;
        height: 2.002rem;
        object-fit: contain;
      }
      .vector-41g {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.099rem 0.006rem 0rem;
        width: 1.5428rem;
        height: 1.5288rem;
        object-fit: contain;
      }
      .vector-No4 {
        margin: 0.504rem 0.184rem 0rem 0rem;
        width: 1.512rem;
        height: 2.0384rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-6j4 {
        width: 1.5428rem;
        height: 1.5288rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0056rem;
      }
    }
  }
  .contact-us-SY2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    padding: 8rem 29.95rem;
    width: calc(100% - 0.8rem);
    background-color: #f4f7f9;
    margin: 0 0.4rem;

    .frame-342-NAn {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 8rem;
      width: 100%;
      align-items: center;
      display: flex;

      .content-j1L {
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .column-HHk {
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 57.95rem 2.4rem 57.95rem;
          width: calc(100% - 115.9rem);

          .item--pHg {
            line-height: 1.375;
            color: #ff6636;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.1rem 0.8rem 0rem;
            text-align: right;
            font-size: 1.6rem;
            font-weight: 500;
            flex-shrink: 0;
          }
          .item--iP4 {
            font-size: 4rem;
            line-height: 1.2;
            letter-spacing: -0.04rem;
            color: #1d1f26;
            font-family: Cairo, 'Source Sans Pro';
            text-align: right;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 600;
          }
        }
        .parapgraph-1sx {
          font-size: 1.8rem;
          color: #6e7484;
          font-family: Cairo, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          line-height: 1.7777777778;
          letter-spacing: -0.027rem;
          flex-shrink: 0;
          max-width: 131.3rem;
        }
      }
      .placeholder-image-Kte {
        vertical-align: top;
        flex-shrink: 0;
        width: 131.2rem;
        height: 70rem;
        object-fit: cover;
      }
    }
    .frame-314-s9U {
      margin-right: 66.4rem;
      width: 64.8rem;
      row-gap: 2.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .faqs-PtW {
        padding: 2rem 4.6rem 2rem 16rem;
        width: 100%;
        text-align: right;
        font-size: 1.6rem;
        line-height: 1.375;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        color: #1d1f26;
        border: solid 0.1rem #e8eaef;
        background-color: #ffffff;
        flex-shrink: 0;
        font-weight: 500;
      }
      .faqs-gsc {
        padding: 2rem 4.6rem 2rem 19.8rem;
        width: 100%;
        text-align: right;
        font-size: 1.6rem;
        color: #1d1f26;
        white-space: nowrap;
        border: solid 0.1rem #e8eaef;
        box-sizing: border-box;
        background-color: #ffffff;
        line-height: 1.375;
        font-family: Cairo, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 500;
      }
      .faqs-AGz {
        border: solid 0.1rem #e8eaef;
        padding: 2rem 4.6rem 2rem 15.6rem;
        width: 100%;
        text-align: right;
        font-size: 1.6rem;
        color: #1d1f26;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        font-weight: 500;
        line-height: 1.375;
        background-color: #ffffff;
      }
      .faqs-rfc {
        box-sizing: border-box;
        flex-direction: column;
        flex-shrink: 0;
        box-shadow: 0 1.2rem 3.2rem rgba(29, 31, 38, 0.1000000015);
        background-color: #ffffff;
        padding-bottom: 2.4rem;
        width: 100%;
        align-items: center;
        display: flex;
        border: solid 0.1rem #e8eaef;

        .heading-CjU {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 4.6rem 2rem 46.5rem;
          width: 100%;
          text-align: right;
          font-weight: 500;
          background-color: #1d1f26;
          margin-bottom: 2.4rem;
          font-size: 1.6rem;
          line-height: 1.375;
          color: #ffffff;
          white-space: nowrap;
        }
        .description-uNz {
          margin: 0 2.4rem;
          width: calc(100% - 4.8rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .aliquam-semper-tellus-vel-lacus-rutrum-mollis-nunc-vitae-iaculis-lacus-id-fringilla-leo-nulla-dictum-enim-nec-bibendum-auctor-lorem-mi-rutrum-urna-sed-luctus-urna-nibh-sit-amet-velit-sed-varius-sem-semper-leo-ultricies-tincidunt-etiam-id-ligula-ut-augue-auctor-molestie-ut-quis-felis-2yQ {
            font-family: Inter, 'Source Sans Pro';
            max-width: 59.9rem;
            text-align: right;
            line-height: 1.5714285714;
            letter-spacing: -0.014rem;
            color: #4d5566;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .sed-lorem-elit-aliquam-vel-neque-condimentum-blandit-cursus-nisi-cras-ullamcorper-posuere-felis-et-vehicula-donec-dignissim-metus-felis-non-posuere-arcu-finibus-a-EZg {
            max-width: 43.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5714285714;
            letter-spacing: -0.014rem;
            font-family: Inter, 'Source Sans Pro';
            text-align: right;
            color: #4d5566;
            flex-shrink: 0;
          }
          .sed-interdum-dignissim-odio-vitae-mollis-nisi-congue-nec-ut-tellus-metus-posuere-vel-odio-ut-ullamcorper-rutrum-ex-curabitur-porttitor-sem-nec-felis-mollis-nec-laoreet-leo-iaculis-donec-ut-massa-ac-magna-iaculis-imperdiet-ut-viverra-arcu-ssY {
            flex-shrink: 0;
            max-width: 58.8rem;
            text-align: right;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.5714285714;
            letter-spacing: -0.014rem;
            color: #4d5566;
          }
          .proin-quis-elementum-velit-eget-efficitur-nulla-donec-tellus-massa-faucibus-id-nulla-sit-amet-feugiat-viverra-justo-curabitur-auctor-nibh-ut-ante-lacinia-ac-finibus-sem-pulvinar-suspendisse-vestibulum-in-dolor-eget-sodales-curabitur-justo-risus-vehicula-ac-mollis-sit-amet-gravida-sed-erat-Jxr {
            max-width: 60rem;
            font-weight: 400;
            line-height: 1.5714285714;
            color: #4d5566;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.4rem;
            letter-spacing: -0.014rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .faqs-Sxa {
        background-color: #ffffff;
        box-sizing: border-box;
        text-align: right;
        color: #1d1f26;
        white-space: nowrap;
        border: solid 0.1rem #e8eaef;
        font-family: Cairo, 'Source Sans Pro';
        flex-shrink: 0;
        padding: 2rem 4.6rem 2rem 30.3rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.375;
      }
      .faqs-Xz2 {
        background-color: #ffffff;
        box-sizing: border-box;
        text-align: right;
        font-weight: 500;
        line-height: 1.375;
        white-space: nowrap;
        border: solid 0.1rem #e8eaef;
        flex-shrink: 0;
        padding: 2rem 4.6rem 2rem 36.2rem;
        width: 100%;
        font-size: 1.6rem;
        color: #1d1f26;
        font-family: Cairo, 'Source Sans Pro';
      }
      .faqs-2ft {
        font-weight: 500;
        color: #1d1f26;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 2rem 4.6rem 2rem 27.5rem;
        width: 100%;
        font-size: 1.6rem;
        border: solid 0.1rem #e8eaef;
        background-color: #ffffff;
        text-align: right;
        line-height: 1.375;
        flex-shrink: 0;
      }
    }
  }
  .footer-4--JtJ {
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    padding: 8rem 6.4rem;
    width: 100%;
    background-color: #1d2026;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    flex-direction: column;

    .content-dfg {
      margin-bottom: 8rem;
      width: 100%;
      height: 2.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-yjY {
        width: 6.3rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-jcf4-KoQ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.15rem 0rem 0.15rem 60.15rem;
        height: 100%;

        .links-4FC {
          margin-right: 53.35rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .link-CsC {
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.3rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .link-91k {
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.3rem;
            font-size: 1.6rem;
            font-weight: 600;
          }
          .link-Gs4 {
            flex-shrink: 0;
            margin-right: 3.4rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .link-orz {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.3rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
          }
          .link-Mdc {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .social-links-uQE {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.3rem 0.3rem 0.3rem 0.7rem;
          height: 100%;

          .icon-facebook-ESW {
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.2rem;
            width: 1rem;
          }
          .icon-instagram-mhL {
            flex-shrink: 0;
            margin-right: 1.7999rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-twitter-6Ui {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.03rem 1.8rem 0rem 0rem;
            width: 1.8rem;
            height: 1.53rem;
            object-fit: contain;
          }
          .icon-linkedin-DZL {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .credits-Y5p {
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .divider-hUW {
        background-color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 100%;
        height: 0.1rem;
      }
      .row-EjL {
        width: calc(100% - 122.5rem);
        height: 2.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0 61.25rem;

        .text-mjG {
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .footer-links-Wwk {
          height: 100%;
          display: flex;
          column-gap: 2.4rem;
          align-items: center;
          flex-shrink: 0;

          .link-GR8 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            text-decoration-line: underline;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
          }
          .link-cE6 {
            line-height: 1.5;
            text-decoration-line: underline;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .link-MxN {
            text-decoration-line: underline;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
