
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  /* width: 192rem; */
}.about-us-CXt {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.about-us-CXt .top-nav-8wL {
  box-sizing: border-box;
  padding: 0rem 3.234rem 0rem 3.2rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .buttons-FWA {
  margin: 2.4rem 54.35rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 2.4rem;
  height: calc(100% - 4.8rem);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3;
  letter-spacing: -0.0128rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ff6636;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk {
  margin-right: 54.4064rem;
  height: 100%;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-RJA {
  width: 10.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-XMC {
  width: 5.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ff6636;
  box-sizing: border-box;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-CiE {
  width: 8.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-uce {
  width: 11.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-19t {
  width: 7.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .nav-links-Hhk .nav-link-X8E {
  width: 8.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .logo-p7L {
  margin: 3.548rem 0rem 3.51rem 0rem;
  height: calc(100% - 7.0576rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .logo-p7L .vector-LLa {
  margin: 0rem 0.061rem 0.54rem 0rem;
  width: 1.2684rem;
  height: 2.002rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .logo-p7L .vector-41g {
  margin: 0rem 0.099rem 0.006rem 0rem;
  width: 1.5428rem;
  height: 1.5288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .logo-p7L .vector-No4 {
  margin: 0.504rem 0.184rem 0rem 0rem;
  width: 1.512rem;
  height: 2.0384rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .top-nav-8wL .logo-p7L .vector-6j4 {
  margin-bottom: 0.0056rem;
  width: 1.5428rem;
  height: 1.5288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 {
  margin: 0 0.4rem;
  box-sizing: border-box;
  padding: 8rem 29.95rem;
  width: calc(100% - 0.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4f7f9;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn {
  margin-bottom: 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .content-j1L {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .content-j1L .column-HHk {
  margin: 0rem 57.95rem 2.4rem 57.95rem;
  width: calc(100% - 115.9rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .content-j1L .column-HHk .item--pHg {
  margin: 0rem 0.1rem 0.8rem 0rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #ff6636;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .content-j1L .column-HHk .item--iP4 {
  text-align: right;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .content-j1L .parapgraph-1sx {
  max-width: 131.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7777777778;
  letter-spacing: -0.027rem;
  color: #6e7484;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-342-NAn .placeholder-image-Kte {
  width: 131.2rem;
  height: 70rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U {
  margin-right: 66.4rem;
  width: 64.8rem;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-PtW {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 16rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-gsc {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 19.8rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-AGz {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 15.6rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e8eaef;
  box-shadow: 0 1.2rem 3.2rem rgba(29, 31, 38, 0.1000000015);
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .heading-CjU {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 46.5rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #ffffff;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .description-uNz {
  margin: 0 2.4rem;
  width: calc(100% - 4.8rem);
  row-gap: 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .description-uNz .aliquam-semper-tellus-vel-lacus-rutrum-mollis-nunc-vitae-iaculis-lacus-id-fringilla-leo-nulla-dictum-enim-nec-bibendum-auctor-lorem-mi-rutrum-urna-sed-luctus-urna-nibh-sit-amet-velit-sed-varius-sem-semper-leo-ultricies-tincidunt-etiam-id-ligula-ut-augue-auctor-molestie-ut-quis-felis-2yQ {
  max-width: 59.9rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: -0.014rem;
  color: #4d5566;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .description-uNz .sed-lorem-elit-aliquam-vel-neque-condimentum-blandit-cursus-nisi-cras-ullamcorper-posuere-felis-et-vehicula-donec-dignissim-metus-felis-non-posuere-arcu-finibus-a-EZg {
  max-width: 43.8rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: -0.014rem;
  color: #4d5566;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .description-uNz .sed-interdum-dignissim-odio-vitae-mollis-nisi-congue-nec-ut-tellus-metus-posuere-vel-odio-ut-ullamcorper-rutrum-ex-curabitur-porttitor-sem-nec-felis-mollis-nec-laoreet-leo-iaculis-donec-ut-massa-ac-magna-iaculis-imperdiet-ut-viverra-arcu-ssY {
  max-width: 58.8rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: -0.014rem;
  color: #4d5566;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-rfc .description-uNz .proin-quis-elementum-velit-eget-efficitur-nulla-donec-tellus-massa-faucibus-id-nulla-sit-amet-feugiat-viverra-justo-curabitur-auctor-nibh-ut-ante-lacinia-ac-finibus-sem-pulvinar-suspendisse-vestibulum-in-dolor-eget-sodales-curabitur-justo-risus-vehicula-ac-mollis-sit-amet-gravida-sed-erat-Jxr {
  max-width: 60rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  letter-spacing: -0.014rem;
  color: #4d5566;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-Sxa {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 30.3rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-Xz2 {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 36.2rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .contact-us-SY2 .frame-314-s9U .faqs-2ft {
  box-sizing: border-box;
  padding: 2rem 4.6rem 2rem 27.5rem;
  width: 100%;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e8eaef;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ {
  box-sizing: border-box;
  padding: 8rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1d2026;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg {
  margin-bottom: 8rem;
  width: 100%;
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .logo-yjY {
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ {
  box-sizing: border-box;
  padding: 0.15rem 0rem 0.15rem 60.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC {
  margin-right: 53.35rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC .link-CsC {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC .link-91k {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC .link-Gs4 {
  margin-right: 3.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC .link-orz {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .links-4FC .link-Mdc {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .social-links-uQE {
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .social-links-uQE .icon-facebook-ESW {
  margin-right: 2.2rem;
  width: 1rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .social-links-uQE .icon-instagram-mhL {
  margin-right: 1.7999rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .social-links-uQE .icon-twitter-6Ui {
  margin: 0.03rem 1.8rem 0rem 0rem;
  width: 1.8rem;
  height: 1.53rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .content-dfg .auto-group-jcf4-KoQ .social-links-uQE .icon-linkedin-DZL {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .divider-hUW {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL {
  margin: 0 61.25rem;
  width: calc(100% - 122.5rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL .text-mjG {
  margin-right: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL .footer-links-Wwk {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL .footer-links-Wwk .link-GR8 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL .footer-links-Wwk .link-cE6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-CXt .footer-4--JtJ .credits-Y5p .row-EjL .footer-links-Wwk .link-MxN {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
