
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  /* width: 192rem; */
}.gallery-9Ea {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.gallery-9Ea .top-nav-69p {
  box-sizing: border-box;
  padding: 0rem 3.234rem 0rem 3.2rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .buttons-cdx {
  margin: 2.4rem 54.35rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 0rem 0.5rem 0rem 2.4rem;
  height: calc(100% - 4.8rem);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3;
  letter-spacing: -0.0128rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ff6636;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg {
  margin-right: 54.4064rem;
  height: 100%;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-Baa {
  width: 10.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-Grv {
  width: 5.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ff6636;
  box-sizing: border-box;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-xUr {
  width: 8.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-GEe {
  width: 11.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-ZjY {
  width: 7.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .nav-links-TPg .nav-link-5Sz {
  width: 8.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.016rem;
  color: #8c94a3;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1f26;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .logo-nsC {
  margin: 3.548rem 0rem 3.51rem 0rem;
  height: calc(100% - 7.0576rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .logo-nsC .vector-7ea {
  margin: 0rem 0.061rem 0.54rem 0rem;
  width: 1.2684rem;
  height: 2.002rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .logo-nsC .vector-qaa {
  margin: 0rem 0.099rem 0.006rem 0rem;
  width: 1.5428rem;
  height: 1.5288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .logo-nsC .vector-yAz {
  margin: 0.504rem 0.184rem 0rem 0rem;
  width: 1.512rem;
  height: 2.0384rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .top-nav-69p .logo-nsC .vector-6Fc {
  margin-bottom: 0.0056rem;
  width: 1.5428rem;
  height: 1.5288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc {
  box-sizing: border-box;
  padding: 8rem 30.267rem 8rem 30rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f4f7f9;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .column-wn2 {
  margin: 0rem 52.483rem 4rem 52.75rem;
  width: calc(100% - 105.2333rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .column-wn2 .item--H5C {
  margin: 0rem 0.1rem 0.8rem 0rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: #ff6636;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .column-wn2 .item--BRU {
  text-align: right;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #1d1f26;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L {
  width: 100%;
  height: 94.8rem;
  display: flex;
  column-gap: 3.4667rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-R4v {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-R4v .placeholder-image-P1k {
  margin-bottom: 3.2rem;
  width: 41.6rem;
  height: 41.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-R4v .placeholder-image-uVt {
  width: 41.6rem;
  height: 41.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-eTU {
  height: 100%;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-eTU .placeholder-image-QBk {
  width: 41.6rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-eTU .placeholder-image-YYr {
  width: 41.6rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-eTU .placeholder-image-gf4 {
  width: 41.6rem;
  height: 41.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-oza {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-oza .placeholder-image-aVY {
  margin-bottom: 3.2rem;
  width: 41.6rem;
  height: 41.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .contact-us-pBc .content-g7L .column-oza .placeholder-image-KT8 {
  width: 41.6rem;
  height: 41.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA {
  box-sizing: border-box;
  padding: 8rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1d2026;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc {
  margin-bottom: 8rem;
  width: 100%;
  height: 2.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .logo-jFx {
  width: 6.3rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx {
  box-sizing: border-box;
  padding: 0.15rem 0rem 0.15rem 60.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk {
  margin-right: 53.35rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk .link-S3t {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk .link-AEn {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk .link-uCN {
  margin-right: 3.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk .link-STC {
  margin-right: 3.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .links-Usk .link-nGA {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .social-links-XUe {
  box-sizing: border-box;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .social-links-XUe .icon-facebook-4Ua {
  margin-right: 2.2rem;
  width: 1rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .social-links-XUe .icon-instagram-18v {
  margin-right: 1.7999rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .social-links-XUe .icon-twitter-Yee {
  margin: 0.03rem 1.8rem 0rem 0rem;
  width: 1.8rem;
  height: 1.53rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .content-nbc .auto-group-snjc-ssx .social-links-XUe .icon-linkedin-sB8 {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .divider-a5Y {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv {
  margin: 0 61.25rem;
  width: calc(100% - 122.5rem);
  height: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv .text-sKY {
  margin-right: 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv .footer-links-Cci {
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv .footer-links-Cci .link-xLz {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv .footer-links-Cci .link-6i6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.gallery-9Ea .footer-4--rCA .credits-c8i .row-KYv .footer-links-Cci .link-SGA {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
